.NavbarItems{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  padding: 0 30px;
  background-color: #fff;
  width: 1399px;
  height: 100px;
  border-radius: 15px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
}

.logo{
  color: #000;
  justify-self: start;
  cursor: pointer;
}

.nav-menu{
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  list-style: none;
  align-items: center;
  text-align: center;
  justify-content: end;
}

.nav-links{
  text-decoration: none;
  color: #000;
  padding: 0.7rem 1rem;
  white-space: nowrap;
}

.nav-links:hover{
  color: antiquewhite;
  transition: all 0.2s ease-in-out;
}